<HTML>
<HEADER>
    <TITLE>Login</TITLE>
</HEADER>
<BODY>
  Login
      <FORM  method=post >
          {% csrf_token %}
          <input type="text" name = "username" placeholder=" username">
          <input type="password" name = "password" placeholder=" password">
          <input type="submit">
        </FORM>
        <a href={% url 'PatientRegister' %}>Patient Register </a><a href={% url 'login' %}> Login </a>
        {% for message in messages %}
          {{message}}
        {% endfor %}
</BODY>
</HTML>
